html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

#logo {
    position: fixed;
    bottom: 5%;
    right: 0;
}


#text {
    position: fixed;
    bottom: 60%;
    right: 75%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #24823d;
    width: 25%;
    transform: rotate(-14deg);
}

a:link, a:visited, a:hover, a:active {
    color: #0ce746;
    text-decoration: none;
}

ul {
    list-style-type: none;
}
